@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');



:root {
    --cor0:#f0ac6c81;
    --cor1:#EB1501;
    --cor2:#B80F00;    
    --cor3:#6B2620;
    --cor4:#6B0900;
    --font-titulo: 'Titillium Web', sans-serif;
    --font-padrao: Arial, Helvetica, Verdana, sans-serif;
} 

body {
    background-color: var(--cor0);
    font-family: var(--font-padrao)
}

header {
    background-image: linear-gradient( to bottom, var(--cor1), var(--cor2), var(--cor4));
    text-align: center;
    height: 160px;
    padding-top: 30px;
}

header > h1 {
    font-family: var(--font-titulo);
    padding-top: 15px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 0px 1px rgba(0, 0, 0, 0.384);
}

header > p {
    color: #ffffff;
    font-weight: bold;
    padding-top: 5px;
    text-shadow: 2px 0px 1px rgba(0, 0, 0, 0.384);
}

nav {
    float: right;
    margin-top: -35px;  
}

nav > a {
    text-decoration: none; 
    color: #ffffff;
    margin-right: 10px;
    padding: 10px;
}

nav > a:hover { 
    background-color: var(--cor4);
    color: var(--cor1);
    text-decoration: underline;
    border-radius: 3px;
    transition: 0.3s;
}

hr {
    margin-bottom: 20px;
}

main {
    background-color: #ffffff;
    border-radius:0px 0px 15px 15px;
    box-shadow: 0px 5px 6px 5px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    min-width: 260px;
    margin: auto;    
    padding: 20px;
}

main  p {
    text-align: justify;
    text-indent: 30px;
    padding: 40px;
    margin: 5px;
    line-height: 1.5em;
}

main h2 {
    font-family: var(--font-padrao);
    font-size: 2.5em;
    color: var(--cor2);
    padding: 10px;
    text-align: center;
    text-shadow: 2px 0px 1px rgba(0, 0, 0, 0.384);
    margin-bottom: 5px;
}

article {
    margin-bottom:150px;
}
img {
    width: 100%;
}

.direita img {
    float: right;
    width: 100%;
    width: 300px;
    height: 300px; 
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.342);
    border: 2px solid rgba(255, 255, 255, 0.76);
}

.esquerda img {
    float: left;
    width: 300px;
    height: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: -3px 3px 2px rgba(0, 0, 0, 0.342);
    border: solid 2px rgba(255, 255, 255, 0.76);
}

footer {
    background-color: var(--cor4);
    color:  #ffffff;
    margin-top: 200px;
    text-align: center;
    padding: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}