@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');



:root {
    --cor0:#f0776c81;
    --cor1:#EB1501;
    --cor2:#B80F00;    
    --cor3:#6B2620;
    --cor4:#6B0900;
    --font-titulo: 'Titillium Web', sans-serif;
    --font-padrao: Arial, Helvetica, Verdana, sans-serif;
} 

body {
    background-color: var(--cor0);
    font-family: var(--font-padrao)
}

header {
    background-color: var(--cor1);
    text-align: center;
    height: 160px;
    padding-top: 30px;
}

header > h1 {
    font-family: var(--font-titulo);
    padding-top: 15px;
    color: #ffffff;
    font-weight: bold;
}

header > p {
    padding-top: 5px;
    font-weight: bold;
}

nav {
    float: right;
    margin-top: -30px;  
}

nav > a {
    text-decoration: none; 
    color: white;
    margin-right: 15px; 
}

nav > a:hover { 
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 5px;
    border-radius: 10px;
}

hr {
    margin-bottom: 20px;
}

main {
    background-color: white;
    border-radius:0px 0px 15px 15px;
    box-shadow: 0px 5px 6px 5px rgba(0, 0, 0, 0.5);
    max-width: 820px;
    min-width: 260px;
    margin: auto;    
    padding: 20px;
}

main  p {
    text-align: justify;
    padding: 20px;
    margin-top: 20px;
    line-height: 1.5em;
}

main h2 {
    font-family: var(--font-padrao);
    font-size: 2.5em;
    color: var(--cor2);
    padding: 20px;
    text-align: center;
    margin-bottom: 5px;
}

article {
    margin-bottom:150px;
    padding: 0px;
}

.direita img {
    float: right;
    width: 100%;
    width: 300px;
    height: 300px; 
    padding-left: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
}

.esquerda img {
    float: left;
    width: 100%;
    width: 300px;
    height: 300px;  
    padding-right: 20px;
    box-shadow: -8px 3px 1px rgba(0, 0, 0, 0.342);
}

footer {
    background-color: var(--cor4);
    color:  white;
    margin-top: 200px;
    text-align: center;
    padding: 20px;
}